<!DOCTYPE html>
<html>
<head>
  <title>Sunrise, Sunset</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <div class="container">
      {{#suns}}
        <div>
            <img src="{{img_url}}">
            <a href="{{status_url}}">@{{handle}}</a>
        </div>
      {{/suns}}
    </div>
</body>
</html>
