<!DOCTYPE html>
<html>
<head>
    <title>Sunrise, Sunset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <div class="container">
      {{#suns}}
        <a href="{{status_url}}" class="sun" style="background-image: url({{img_url}})">
            <p class="handle">@{{handle}}{{#location}}, {{location}}{{/location}}</p>
        </a>
      {{/suns}}
    </div>
</body>
</html>
