<!DOCTYPE html>
<html>
<head>
    <title>Sunrise, Sunset.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <p class="about">The sun is always rising and setting somewhere.</p>
    <div class="container">
        {{#inital_suns}}
            <a href="{{status_url}}" target="_blank" class="sun" style="background-image: url({{img_url}})">
                <p class="handle">{{info}}</p>
            </a>
        {{/inital_suns}}
        <div class="timeline">
            <button class="back"><</button >
            <button class="forward">></button>
        </div>
    </div>

    <p class="about bottom">
        Created by <a href="http://amyciavolino.com/">Amy Ciavolino</a>.
        Code on <a href="https://github.com/imightbeamy/sunrise-sunset">GitHub</a>.
    </p>

    <script>
        var more_suns = {{{more_suns}}};
        var current = {{sun_count}};
        var suns = document.querySelectorAll(".sun");

        function setTweet(sun_image, tweet) {
            sun_image.style.backgroundImage = 'url("' + tweet.img_url + '")';
            sun_image.href = tweet.status_url;
            sun_image.children[0].innerHTML =
                tweet.info + ", " + new Date(tweet.time).toLocaleTimeString();
        }

        function update(change) {
            if (current + change >= 0 && current + change < more_suns.length) {
                current += change;
                var pair = more_suns[current];
                setTweet(suns[0], pair[0]);
                setTweet(suns[1], pair[1]);
            }
        };

        update(0);

        document.querySelector(".back").onclick = function() {
            update(-1);
        };

        document.querySelector(".forward").onclick = function() {
            update(1);
        };

        window.onwheel = function(e) {
            e.preventDefault();
            if (e.deltaX) {
                update(e.deltaX > 0 ? 1 : -1);
            }
        }

        document.onkeydown = function(e) {
            console.log(e.which);
            switch(e.which) {
                case 37: // left
                update(-1);
                break;

                case 39: // right
                update(1);
                break;
            }
        };


        // Refresh every 15 minutes
        setTimeout(function() {
            window.location.reload(true);
        }, 1000 * 60 * 15);
    </script>
</body>
</html>
