body {
    background: black;
    color: white;
    margin: 0;
}

a {
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 100%;
}

.sun {
    width: 50%;
    float: left;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.sun .handle {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
}

@media (max-width: 900px) {
    .sun {
        width: 100%;
        height: 40vh;
    }
}