body {
  background: black;
  color: white;
}

a {
	color: white;
}

.sun {
	width: 50%;
	float: right;
	height: 500px;
	background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sun .handle {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 5px;
}