body {
    background: black;
    color: white;
    margin: 0;
    font-family: monospace;
}

a {
    color: white;
}

.about {
    padding: 8px 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.about.bottom {
    top: inherit;
    bottom: 0;
}

.container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    width: 100%;
}

.sun {
    width: 50%;
    float: left;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.sun .handle {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
}

@media (max-aspect-ratio: 1/1) {
    .sun {
        width: 100%;
        height: 40vh;
    }
}